@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root
{
    --colorShadowOne: rgba(255, 255, 255, 0.164);
    --colorShadowTwo: rgba(255, 255, 255, 0.274);
    --colorShadowThree: rgba(255, 255, 255, 0.438);
}

body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container-carrosel
{
    margin-top: 0px;
    max-width: 100vw;
    height: 300px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px var(--colorShadowOne);
}

.container-carrosel > div
{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100vw;
}

.container-carrosel > div img
{
    object-fit: cover;
    filter: brightness(30%) grayscale(100);
    width: 100%;
    
}
.container-carrosel > h1
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    white-space: nowrap;
    
}

main
{
    margin-top: 1em;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 10px var(--colorShadowOne);    
    padding-block-end: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#container-form
{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#container-form > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

#container-form input
{
    width: 100px;
    height: 40px;
    font-size: 1em;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--colorShadowOne);
    border: none;
    transition: box-shadow 0.5s ease-in-out, outline 0.5s ease-in-out;
    
}
#container-form input:focus
{
    box-shadow: 0px 0px 5px var(--colorShadowTwo);
    outline: none;
}

.span-weight
{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out, opacity 0.5s ease-in-out, color 0.5s ease-in-out;
}

.weight-span
{
    visibility: visible;
    opacity: 1;
    transform: scale(0.9);
    transform-origin: bottom;
}

.span-height
{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out, opacity 0.5s ease-in-out, color 0.5s ease-in-out;
}

.height-span
{
    visibility: visible;
    opacity: 1;
    transform: scale(0.9);
    transform-origin: bottom;
}


button
{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.file
{
    text-decoration: none  ;
    box-shadow: 0px 0px 5px var(--colorShadowOne);
    padding: 1em;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.show-file
{
    opacity: 1;
    visibility: visible;
    transform: scale(0.9);
    transform-origin: bottom;
}
