@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* 
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.705);
    -webkit-tap-highlight-color: transparent;
}

:root
{
    --colorShadowOne: rgba(255, 255, 255, 0.164);
    --colorShadowTwo: rgba(255, 255, 255, 0.274);
    --colorShadowThree: rgba(255, 255, 255, 0.438);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
}

::-webkit-scrollbar
{
    background: rgba(1,45,56,1);
    width: 5px;
    padding-inline: 2px;
}


::-webkit-scrollbar-thumb
{
    background-color: rgba(224, 224, 224, 0.301);
    border-radius: 20px;
    width: 5px;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: white;
}


button
{
    cursor: pointer;
    background-color: #00000000;
    transform: scale(1.0);
    box-shadow: 0px 0px 5px var(--colorShadowOne);
    backdrop-filter: blur(30px);
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-out;
    letter-spacing: 2px;
}
button:hover
{
    box-shadow: 0px 0px 5px var(--colorShadowTwo);
}

button:active
{
    box-shadow: 0px 0px 5px var(--colorShadowThree);
    transform: scale(0.97);
}

body 
{
    max-width: 100%;
    background:  linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(1,45,56,1) 70%, rgba(2,81,100,1) 100%, rgba(2,85,105,1) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#container-header
{
    height: 60px;

}

#container-menu
{
    width: 100%;
    height: inherit;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background: rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
}

#container-menu > ul
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: filter 0.5s ease-in-out;
    width: inherit;
    padding-inline: 1.5em;
}
#container-menu > ul a
{
    text-decoration: none;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    white-space: nowrap;

}
#container-menu > ul a::after
{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transform-origin: center center;
    transition: transform 0.3s ease-out;
}

#container-menu > ul a:hover::after
{
    transform: scaleX(1);
    transform-origin: center center;
}

#container-menu > ul:hover > :not(:hover)
{
     
    filter: blur(1px);
}

.carousel 
{
    position: relative;
    max-width: 100%;
    height: 300px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px var(--colorShadowOne);
    border-radius: 0% 0% 20% 20%;
}

.carousel-images
{
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-images > img 
{
    filter: brightness(30%) grayscale(100);
    width: 100%;
    min-height: 300px;
}
.carousel h1 
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: inherit;

}

span 
{
    margin-left: 10px;
}
.carousel p
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    color: rgba(255, 255, 255, 0.534);
    width: inherit;
    
}

#container-content-main
{
    margin: auto;
    min-width: 350px;
    padding-inline: 1.5em;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;

}


#container-content p 
{
    margin-top: 2em;
    margin-block-end: 40px;
}

#container-content, .container-button p 
{
    padding: 10px;
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px 5px var(--colorShadowThree);
}

#container-content > div
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#container-content > div > img
{
    margin-top: 2em;
    margin-block-end: 40px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(20deg) brightness(103%) contrast(101%);
    width: 25px;
}



.container-button 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.container-button button 
{
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.container-button > div 
{
    position: relative;
    width: 100%;
    height: 300px;
    filter: grayscale(100%);
    transition: height 0.5s;
    overflow: hidden;
}

.container-img > img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    filter: brightness(40%);
    transition: filter 0.5s, box-shadow 0.5s;
    border-radius: 10px;
}

.container-img > img:hover 
{
    box-shadow: 0px 0px 5px var(--colorShadowThree);
}

.image-svg
{
    width: 24px;
}

.container-img ul
{    
    height: inherit;
    width: inherit;
    position: absolute;
    top: 50%;
    left: 70%;
    font-size: 0.9rem;
    list-style: none;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: default;
}

.container-img li
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}


footer
{
    background-image: url("../img/footer-img.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 20% 20% 0% 0%;
    box-shadow: 0px 0px 10px var(--colorShadowOne);

}

footer > #container-footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    backdrop-filter: brightness(20%) grayscale(100%);
}

#container-footer > h1
{
    font-size: 2em;
}

#container-footer h1 + p
{
    text-align: center;
    font-size: 1em;
}

footer p 
{
    font-size: 0.8rem;
}

footer ul
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 215.53px;
}

footer a
{
    text-decoration: none;
}
footer a:hover
{
    text-decoration: underline;
}

.footer-social img
{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(20deg) brightness(103%) contrast(101%);
    width: 25px;
}
