@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* 
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.705);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
}

body::-webkit-scrollbar
{
    background-color: #011F26;
    width: 10px;

}

body::-webkit-scrollbar-thumb
{
    background-color: white;
    border-radius: 20px;
}


button
{
    cursor: pointer;
    background-color: #ffffff23;
    transform: scale(1.0);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.363);
    transition: box-shadow 0.5s ease-in-out, transform 0.2s;
    letter-spacing: 2px;
}
button:hover
{
    box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.363);

    
}

button:active
{
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.363);
    transform: scale(0.97);
}

body 
{
    max-width: 100vw;
    background:  linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(1,45,56,1) 70%, rgba(2,81,100,1) 100%, rgba(2,85,105,1) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.carousel 
{
    position: relative;
    max-width: 100vw;
    height: 327px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.658);
    margin-bottom: 1em;
}

.carousel-images
{
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-images>img 
{
    filter: brightness(30%) grayscale(100);
    width: 100%;
}
.carousel h1 
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span 
{
    margin-left: 10px;
}
.carousel p
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    color: rgba(255, 255, 255, 0.534);

    
}


#container-content p 
{
    margin-block-end: 40px;
}

#container-content, .container-button p 
{
    padding: 10px;
    text-align: center;
    font-weight: 400;
}



.container-button 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
    position: relative;
}

.container-button button 
{
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.container-button > div 
{
    position: relative;
    width: 400px;
    height: 300px;
    margin: auto;
    filter: grayscale(100%);
    transition: height 0.5s;
}

.container-img > img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    filter: brightness(40%);
    transition: filter 0.5s, box-shadow 0.5s;
    border-radius: 10px;
}

.container-img > img:hover 
{
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.363);
}

.image-svg
{
    width: 24px;
}

.container-img ul
{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.9rem;
    list-style: none;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 600;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: default;
}

.container-img li
{
    display: flex;
    align-items: center;
    gap: 4px;
}


footer
{
    background-image: url("../img/footer-img.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer > section
{
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    box-shadow: inset 0px 6px 10px rgba(255, 255, 255, 0.11);
    padding-top: 3em;
    backdrop-filter: brightness(20%) grayscale(100%);
}

#container-footer > h1
{
    font-size: 2em;
}

#container-footer h1 + p
{
    text-align: center;
    font-size: 1em;
    
}

footer p 
{
    font-size: 0.8rem;
    padding-bottom: 4px;
}

footer ul
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 215.53px;
}

footer a
{
    text-decoration: none;
}
footer a:hover
{
    text-decoration: underline;
}

.footer-social img
{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(20deg) brightness(103%) contrast(101%);
    width: 25px;
}
